{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="w-2/3 h-3/4 bg-base-300 rounded flex flex-col"  >
  <div class="w-full h-full" id="messages">
    <span class="loading loading-spinner text-accent"/>
  </div>
    <form class="flex flex-row p-2" hx-post="/generate" hx-target="#messages" hx-swap="innerHtml">
      <input type="text" class="input input-bordered w-3/4 mx-auto" name="message" placeholder="type your message here...">
      <button type="submit" class="btn btn-accent w-1/4">
        Send
        <span class="loading loading-spinner"></span>
      </button>
    </form>
</div>
{% endblock %}
